<div class="row">
    <div class="col-md-2">
        <button type="button" (click)='ok()' class="btn btn-info">Classification</button>
      </div>
<div class="col-md-2">
    <button type="button" (click)='acceptancesurf()' class="btn btn-info">Acceptance</button>
</div>
<div class="col-md-2">
    <button type="button" (click)='origin()' class="btn btn-info">Origin</button>
</div>

</div>

<div  *ngIf="isDataAvailable" class="flex">
    <div class="flex-item">
      <div style="display: block;">
      <canvas baseChart width="500" height="240"
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [colors]="lineChartColors"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"
                  [plugins]="lineChartPlugins"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
    <div class="row">

   
    <div class="col-md-2">
       
          Annee :
       
            <select class="form-control" id="exampleSelect1" [(ngModel)]="date">
                <option   disabled hidden  [ngValue]="undefined">	</option>

                <option> 2018</option>
                <option> 2019</option>
              
              </select>


        </div>
        <div class="col-md-2">
          <div class="s">
            <button type="button" class="btn btn-success" (click)='ok()' >chercher</button>
        </div>
        </div>

  </div>
</div>
<div  *ngIf="wait">

    <div class="google-loader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
  <h4 class="text-center">le calcule est en cours</h4>
  </div>