
<div  *ngIf="isDataAvailable" class="flex">
  
    <div class="item">
     
      <div class="panel-heading"><img height="130px" width="350px" src="../../../../assets/MasterCard_Logo.svg.png"/>
       
      </div>
      <div class="row k">

   
        <div class="col-md-5">
           
              
           
                <select class="form-control" id="exampleSelect1" [(ngModel)]="date">
                  
                  <option   disabled hidden  [ngValue]="undefined">	</option>
      
                    <option> 2018</option>
                    <option> 2019</option>
                  
                  </select>
      
      
            </div>
            
      
      </div>
   

        <div class="flex-item">
          <div>
          <canvas baseChart 
           width="1140"
           height="300"
  
                      [datasets]="lineChartData"
                      [labels]="lineChartLabels"
                      [options]="lineChartOptions"
                      [colors]="lineChartColors"
                      [legend]="lineChartLegend"
                      [chartType]="lineChartType"
                      [plugins]="lineChartPlugins"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
       </div>
    <div class="row t">
        <div class="col-md-2">
            <button type="button" (click)='ok()' class="btn btn-info">Classification</button>
          </div>
    <div class="col-md-2">
        <button type="button" (click)='acceptancesurf()' class="btn btn-info">Acceptance</button>
    </div>
    <div class="col-md-2">
        <button type="button" (click)='origin()' class="btn btn-info">Origine</button>
    </div>
    <div class="col-md-2">
      <button type="button" (click)='Famille()' class="btn btn-info">Famille</button>
  </div>
  <div class="col-md-2">
    <button type="button" (click)='Proccesus()' class="btn btn-info">Processus</button>
</div>
<div class="col-md-2">
  <button type="button" (click)='Categorie()' class="btn btn-info">Categorie</button>
</div>
    </div>
    
     
</div>
<div  *ngIf="wait">

    <div class="google-loader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
  <h4 class="text-center"> Calcul en cours</h4>
  </div>