

  
  .new2 {
    border: 1px solid #f75a01;
    text-align: center;
   
    width:85%; 
    
  
    
  }
  .col-lg-4 {
    width:30%;
    margin-left: 2%;
    margin-top: 1%;
    background-color: white;
}
  .table {
      width: 99%;}
.k{
    margin-bottom: 11px;
}
.t{
  margin-top: 20px;  
}
.scrollable {
  height: 54vh;
  overflow-y: scroll;
}
.s{
  margin-left: 900px
}
.new2 {
  border: 1px solid #f75a01;
  text-align: center;
 
  width:85%; }
  

.a{
  border:  solid
}
.vl {
  border-left: 2px solid green;
  height: 20px;
 
  
  top: 0;
}
.w{
  width: 60px
}
.mm{
  padding: 3px;
}
.panel{
  box-shadow: 1px 1px 10px 2px #cc0000;



  }

  .panel-heading {
    border-color:#cc0000;}
    .btn-info {
      color: #fff;
      background-color: #188cc5;
      border-color: #188cc5;
    }
    
    .btn-glyphicon { padding:8px; background:#ffffff; margin-right:4px; }
.icon-btn { padding: 1px 15px 3px 2px; border-radius:50px;}