<popup  >
    
 
       
       
    <div class="row">
        
        <label>Utilisateur  :</label>
        <br/>
        <input type="text" name="firstname"  [(ngModel)]="user"  class="span3">
    </div>
    <div class="row">
               
           

            <label> Profile : </label> <br/>
            <input type="text" name="firstname" class="span3" [(ngModel)]="profil" >
            
        </div>

    <div class="row">
     
        <label>Mot de passe :
            </label><br>
        <input type="text" name="firstname"  [(ngModel)]="mdp"  class="span3">
    </div>
      
        
       
    <div class="row">

        
            <button type="button" *ngIf='cr' (click)='creer()' class="btn btn-info">Creer</button>
            <button type="button" *ngIf='up' (click)='update()' class="btn btn-info">update</button>

            <button type="button" (click)='fermer()' class="btn btn-danger">Fermer</button>
        </div>
        
   


  </popup>
                               

            <div class="row">
                <div class="col-md-12">
                        <button type="button" (click)='show()' class="btn pos btn-info">Créer <span class="glyphicon glyphicon-user"></span></button>

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Admin</h3>
                            <div class="pull-right">
                                <span class="clickable filter" data-toggle="tooltip" title="Toggle table filter" data-container="body">
                                    <i class="glyphicon glyphicon-filter"></i>
                                </span>
                            </div>
                        </div>
                      
                        <div class="panel-body">
                               
                        </div>
                        <table class="table table-hover" id="dev-table">
                            <thead>
                                <tr>
                                        <th>Id</th>
                                    <th>Utilisateur</th>
                                    <th>Profile</th>
                                    <th>Mot de passe</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of users">
                               
                                    <td>{{user.Id}}</td>
                                    <td>{{user.username}}</td>
                                   
                                    <td>{{user.Profile}}</td>
                                    <td>{{user.password}}</td>
                                    <td class="text-center"><a  class='btn btn-warning btn-xs' (click)='show2(user)'><span class="glyphicon glyphicon-edit" (click)=show()></span> Edit</a></td>
                                    <td> <a (click)='supp(user.Id)' class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
                                </tr>
                               
                              
                            </tbody>
                        </table>
                    </div>
                </div>
               
