.s{
    margin-right: 3%;
  
  }
  .pg{
    margin-top: -9px;
  }
  html, body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .google-loader {
    display: block;
  }
  
  .google-loader span {
    display: inline-block;
    margin-top: 150px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
  }
  .s{
      padding-top: 10px
  }
  
  .google-loader span:not(:first-child) {
    margin-left: 10px;
  }
  
  .google-loader span:nth-child(1) {
    background: #4285F4;
    animation: move 1s ease-in-out -0.25s infinite alternate;
  }
  
  .google-loader span:nth-child(2) {
    background: #DB4437;
    animation: move 1s ease-in-out -0.5s infinite alternate;
  }
  
  .google-loader span:nth-child(3) {
    background: #F4B400;
    animation: move 1s ease-in-out -0.75s infinite alternate;
  }
  
  .google-loader span:nth-child(4) {
    background: #0F9D58;
    animation: move 1s ease-in-out -1s infinite alternate;
  }
  
  @keyframes move {
    from {
      transform: translateY(-10px);
    }
    to {
      transform: translateY(5px);
    }
  }
  
  
  
  
  .t{
    margin-left: 0%;
    margin-top: 1%;
  }
  
  .k{
    margin-left: -1%;}
  
  
  
  body {
  font: 1em/1.67 'Open Sans', Arial, Sans-serif;
  margin: 0;
  background: #e9e9e9;
  }
  
  .wrapper {
  width: 95%;
  margin: 3em auto;
  }
  
  
  
  .item {
  
  box-shadow: 2px 2px 4px 0 #cc0000;
  background-color: white;
  }
  
  
  .btn {
    margin-top: -4%;
  }
  
  .s{
    margin-right: 3%;
  
  }
  .pg{
    margin-top: -9px;
  }
  html, body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .google-loader {
    display: block;
  }
  
  .google-loader span {
    display: inline-block;
    margin-top: 150px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
  }
  .s{
      padding-top: 10px
  }
  
  .google-loader span:not(:first-child) {
    margin-left: 10px;
  }
  
  .google-loader span:nth-child(1) {
    background: #4285F4;
    animation: move 1s ease-in-out -0.25s infinite alternate;
  }
  
  .google-loader span:nth-child(2) {
    background: #DB4437;
    animation: move 1s ease-in-out -0.5s infinite alternate;
  }
  
  .google-loader span:nth-child(3) {
    background: #F4B400;
    animation: move 1s ease-in-out -0.75s infinite alternate;
  }
  
  .google-loader span:nth-child(4) {
    background: #0F9D58;
    animation: move 1s ease-in-out -1s infinite alternate;
  }
  
  @keyframes move {
    from {
      transform: translateY(-10px);
    }
    to {
      transform: translateY(5px);
    }
  }
  
  
  
  
  .t{
    margin-left: 0%;
    margin-top: 1%;
  }
  
  .k{
    margin-left: -1%;}
  
  
  
  body {
  font: 1em/1.67 'Open Sans', Arial, Sans-serif;
  margin: 0;
  background: #e9e9e9;
  }
  
  .wrapper {
  width: 95%;
  margin: 3em auto;
  }
  
  
  
  .item {
  
  box-shadow:   3px 3px 10px 0 #cc0000;
  background-color: white;
  }
  .btn-info {
    color: #fff;
    background-color: #188cc5;
    border-color: #188cc5;
  }
  
  
  
  
  