
	<div class="row">
 



    		<div class="card mb">
              <img class="card-img-top h" src="../../../../assets//facture.png" alt="Card image cap">
              <div class="card-body mb">
                <h2 class="card-title">Facture</h2>
                
               <a href="http://192.168.43.202:9090/CodeIgniter/upload_facturation"><button type="button" class="btn btn-warning">Excel</button>
               </a>
              </div>
            </div>
            
            <div class="card mb">
              <img class="card-img-top h" src="../../../../assets//services.png" alt="Card image cap">
              <div class="card-body mb">
                <h2 class="card-title">Service</h2>
                
               <a href="http://192.168.43.202:9090/CodeIgniter/upload_classification"> <button type="button" class="btn btn-warning">Excel</button>
               </a>
              </div>
            </div>
</div>