



<div class="container">
  <div class="row">
      <div class="col-md-12">
          <div class="row">
              <div class="col-md-4">  
                  
    		<div class="card mb">
          <img class="card-img-top h" src="../../../../assets//facture.png" alt="Card image cap">
          <div class="card-body mb">
            <h2 class="card-title">Facture</h2>
            
           <a href="http://www.effyis-partners.ma/ProjetFacturation/CodeIgniter3/upload_facturation
           "><button type="button" class="btn btn-warning">Excel</button>
           </a>
          </div>
        </div>
        
              </div>
              <div class="col-md-4">
                <div class="card mb">
                  <img class="card-img-top h" src="../../../../assets//services.png" alt="Card image cap">
                  <div class="card-body mb">
                    <h2 class="card-title">Service</h2>
                    
                   <a href="http://www.effyis-partners.ma/ProjetFacturation/CodeIgniter3/upload_classification
                   "> <button type="button" class="btn btn-warning">Excel</button>
                   </a>
                  </div>
                </div>
    
              </div>
              <div class="col-md-4"> 
                 
            <div class="card mb">
              <img class="card-img-top h" src="../../../../assets/Operateur-traitement.png" alt="Card image cap">
              <div class="card-body mb">
                <h2 class="card-title">Flux</h2>
                
               <a href="http://effyis-partners.ma/ProjetFacturation/CodeIgniter3/upload_cgi"> <button type="button" class="btn btn-warning">Excel</button>
               </a>
              </div>
            </div>
              </div>
          </div>
      </div>
  </div>
</div>