<div>
    <div>
      <div class="chart">
        <canvas baseChart
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [chartType]="pieChartType"
          [options]="pieChartOptions"
          [plugins]="pieChartPlugins"
          [colors]="pieChartColors"
          [legend]="pieChartLegend">
        </canvas>
      </div>
    </div>
  </div>
  <div>

      <button type="button" class="btn btn-primary"(click)="class()"> Classfication</button>
      <button type="button" class="btn btn-primary" (click)="changeLabels()"> Services</button>
      <button type="button" class="btn btn-primary" (click)="ok()"> Par Anne</button>
      

  </div>

  
 

      <div *ngIf="isAvailable" class="panel panel-default">
          
          <div class="panel-body">
              <div class="row">
                  <div class="col-sm-3">
                      <select class="form-control" id="exampleSelect1" [(ngModel)]="Annee" >
                          <option disabled selected hidden [ngValue]="undefined">2018	</option>
                          <option>2018</option>
                        
                          
                           
                        
                        </select>
                  </div>
                  <div class="col-sm-3">
                      <select class="form-control" id="exampleSelect1" [(ngModel)]="Annee" >
                          <option disabled selected hidden [ngValue]="undefined">Mois	</option>
                        <option>Janvier</option>
                        <option>Février</option>
                        <option>Mars</option> 
                        <option>Avril</option>
                        <option>Mai</option>
                        
                        
                        </select>
                  </div>
                  <div class="col-sm-3">
                      <button mat-button mat-raised-button color="primary" (click)="ko()">Par Anne</button>
                    </div>
            
          </div>
        </div>
    