<div class="panel panel-primary t">
  <div class="panel-heading">Services
    
  <div class="pull-right">
      <button  (click)="affchfilter()"class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</button>
  </div>
</div>
  <div class="panel-body">
    
      <div *ngIf="filterbol"  > 
     
          <div class="row">
              <div class="col-md-4">
               
              </div>
              <div class="col-md-4">
    
    
             
    
    
              </div>
              <div class="col-md-4">
    
    
                  <button  (click)="vider()"class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> réinitialiser</button>
    
              </div>
    
            </div>
        <div class="row">
          <div class="col-md-4">
            <th>


              
              Service Name :
                  <select class="form-control" id="exampleSelect1" [(ngModel)]="servicename" >
                      <option   selected  [ngValue]="undefined">All		</option>
                     
                      <option  *ngFor="let t of dataname"  >              {{ t.ServiceNAME }}
                  
                      
                   
                    
                    
                    
                  
                  </select>
               
          
          </th>
          </div>
          <div class="col-md-4">


            <th>


              
              Type de service:
              <select class="form-control" id="exampleSelect1"  [(ngModel)]="typeservice" >
               
                  <option   selected  [ngValue]="undefined">  All		</option>

                  <option  *ngFor="let t of datatype"  >              {{ t.Typedeservice }}
                    
                  </option>
                
              
              </select>


      </th>


          </div>
          <div class="col-md-4">


            <th>
              Classification:
              <select class="form-control" id="exampleSelect1" [(ngModel)]="classification"  >
                  <option   selected  [ngValue]="undefined">All		</option>
                  <option  *ngFor="let t of dataclassification"  >              {{ t.Classification }}
                        
                    </option>
                
                </select>

          </th>

          </div>

        </div>
        <div class="row">
          <div class="col-md-4"> <th>
            Acceptance:
          <select class="form-control" id="exampleSelect1" [(ngModel)]="acceptance" >
              <option   selected  [ngValue]="undefined">All &shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;			</option>
              <option  *ngFor="let t of datacceptance"  >              {{ t.Acceptance }}
                    
                </option>
            
            
            </select>

      </th></div>
          <div class="col-md-4">

     
            <th>
              Canal:
            <select class="form-control" id="exampleSelect1" [(ngModel)]="canal"  >
                <option   selected  [ngValue]="undefined">All	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;		</option>
                <option  *ngFor="let t of datacanal"  >              {{ t.Canal }}
                      
                  </option>
                 
              </select>
            
        </th>

          </div>
          <div class="col-md-4">
            <th>
            Origin
            <select class="form-control" id="exampleSelect1" [(ngModel)]="origine"  >
                <option   selected  [ngValue]="undefined">All	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;		</option>
                <option  *ngFor="let t of dataorigine"  >              {{ t.Origine }}
                      
                  </option>
                 
              </select>

</th>

          </div>

        </div>
          


  <hr class="new2">
    
          
          
    
      
    </div>
  
      <div class="scrollable">
      <table class="table table-striped">
          <thead>
          <tr>
            <th > ID</th>
            <th scope="col">Service Name</th>
            <th scope="col">Type des service</th>
            <th scope="col">Classification</th>
            <th>Acceptance</th>
            <th>Canal</th>
            <th>Origine</th>
            <th>Rate</th>
            <th>TypeRate</th>
          </tr>
          </thead>
          <tbody >
          <tr *ngFor="let country of countries |sercivnams:servicename|typeservice:typeservice|classification:classification|acceptance:acceptance|canal:canal|orginepipe:origine">
            <th scope="row">{{ country.ServiceID }}
              </th>
            <td>
             
              {{ country.ServiceNAME }}
            </td>
            <td>{{ country.Typedeservice }}</td>
            <td>{{ country.Classification  }}</td>
            <td>{{country.Acceptance}}</td>
            <td>{{country.Canal}}</td>
            <td>{{country.Origine}}</td>
            <td>{{country.Rate}}</td>
            <td>{{country.TypeRate}}</td>
          </tr>
          </tbody>
        </table>
      </div>
        
  </div>
</div>
