<div class="panel panel-primary t">
  <div class="panel-heading">Services
    
  <div class="pull-right">
      <button  (click)="affchfilter()"class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</button>
  </div>
</div>
  <div class="panel-body">
      <tr *ngIf="filterbol" class="filters">
          <th>


              
                
                  <select class="form-control" id="exampleSelect1" [(ngModel)]="servicename" >
                    <option disabled selected hidden [ngValue]="undefined">ServiceNAME		</option>
                    <option>Issuer Lounge Billing		</option>
                    <option>Anti-Money Laundering		</option>
                    
                  
                  </select>
               
          
          </th>
          <th>
              <th>


              
                
                  <select class="form-control" id="exampleSelect1"  [(ngModel)]="typeservice" >
                    <option disabled selected hidden [ngValue]="undefined">Type de service		</option>
                    <option>Services non transactionnels adossés aux cartes		</option>
                    <option>Service d'anti Blanchiment d'argent		</option>
                    <option>Services non transactionnels adossés aux cartes		</option>
                    <option>Service d'anti Blanchiment d'argent		</option>
                    
                  
                  </select>


          </th>
          <th>
 
              <select class="form-control" id="exampleSelect1" [(ngModel)]="classification"  >
                  <option  disabled selected hidden [ngValue]="undefined">Classification		</option>
                  <option>Services cartes</option>
                  <option>Risque & fraud management </option>
                  <option>Services cartes</option>
                  <option>Risque & fraud managemen </option>
                
                </select>

          </th>
        
      </tr>
      <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">ServiceID</th>
            <th scope="col">ServiceNAME</th>
            <th scope="col">Typedeservice</th>
            <th scope="col">Classification</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let country of countries |sercivnams:servicename|typeservice:typeservice|classification:classification">
            <th scope="row">{{ country.ServiceID }}</th>
            <td>
             
              {{ country.ServiceNAME }}
            </td>
            <td>{{ country.Typedeservice }}</td>
            <td>{{ country.Classification  }}</td>
          </tr>
          </tbody>
        </table>
        
        <div class="d-flex justify-content-between p-2">
          <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
          </ngb-pagination>
        
        </div>

  </div>
</div>
<popup>


  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
</popup>
<button (click)="show()">ok</button>