
.scrollable {
  height: 47vh;
  overflow-y: scroll;
}

.new2 {
  border: 1px solid #f75a01;
  text-align: center;
 
  width:85%; 
  

  
}
.item {
 
  box-shadow: 2px 2px 4px 0 #cc0000;
  background-color: white;
  margin-top: 24px
}

body {
  font: 1em/1.67 'Open Sans', Arial, Sans-serif;
  margin: 0;
  background: #e9e9e9;
}
.panel{
  box-shadow: 1px 1px 10px 2px #cc0000;



  }
  .panel-heading {
    border-color:#cc0000;}
    .panel-body {
      padding: 5px;
     }
.panel-heading{
  height: 112px;
}