<div class="panel panel-primary t">
  <div class="panel-heading">Services
    
  <div class="pull-right">
      <button  (click)="affchfilter()"class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</button>
  </div>
</div>
  <div class="panel-body">
      <div *ngIf="filterbol" class="filters"> <div class="s">
        
          <button  (click)="vider()"class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> réinitialiser</button>
      </div>

          <th>


              
                
                  <select class="form-control" id="exampleSelect1" [(ngModel)]="servicename" >
                      <option  disabled selected hidden [ngValue]="undefined">Service Name		</option>

                    <option  *ngFor="let t of dataname"  >              {{ t.ServiceNAME }}
                      
                    </option>
                    
                    
                    
                  
                  </select>
               
          
          </th>
        
              <th>


              
                
                  <select class="form-control" id="exampleSelect1"  [(ngModel)]="typeservice" >
                   
                      <option  disabled selected hidden [ngValue]="undefined"> Type de service		</option>

                      <option  *ngFor="let t of datatype"  >              {{ t.Typedeservice }}
                        
                      </option>
                    
                  
                  </select>


          </th>
          <th>
 
              <select class="form-control" id="exampleSelect1" [(ngModel)]="classification"  >
                  <option  disabled selected hidden [ngValue]="undefined">Classification		</option>
                  <option  *ngFor="let t of dataclassification"  >              {{ t.Classification }}
                        
                    </option>
                
                </select>

          </th>
          <th>
 
            <select class="form-control" id="exampleSelect1" [(ngModel)]="acceptance" >
                <option  disabled selected hidden [ngValue]="undefined">Acceptance &shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;			</option>
                <option  *ngFor="let t of datacceptance"  >              {{ t.Acceptance }}
                      
                  </option>
              
              
              </select>

        </th>
        <th>
 
          <select class="form-control" id="exampleSelect1" [(ngModel)]="canal"  >
              <option  disabled selected hidden [ngValue]="undefined">Canal	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;		</option>
              <option  *ngFor="let t of datacanal"  >              {{ t.Canal }}
                    
                </option>
               
            </select>

      </th>
    </div>
      <div class="scrollable">
      <table class="table table-striped">
          <thead>
          <tr>
            <th >Service ID</th>
            <th scope="col">Service Name</th>
            <th scope="col">Type des service</th>
            <th scope="col">Classification</th>
            <th>Acceptance</th>
            <th>Canal</th>
            <th>Origine</th>
            <th>Rate</th>
            <th>TypeRate</th>
          </tr>
          </thead>
          <tbody >
          <tr *ngFor="let country of countries |sercivnams:servicename|typeservice:typeservice|classification:classification|acceptance:acceptance|canal:canal">
            <th scope="row">{{ country.ServiceID }}
              </th>
            <td>
             
              {{ country.ServiceNAME }}
            </td>
            <td>{{ country.Typedeservice }}</td>
            <td>{{ country.Classification  }}</td>
            <td>{{country.Acceptance}}</td>
            <td>{{country.Canal}}</td>
            <td>{{country.Origine}}</td>
            <td>{{country.Rate}}</td>
            <td>{{country.TypeRate}}</td>
          </tr>
          </tbody>
        </table>
      </div>
        
  </div>
</div>
