<div class="row soso">
    <div class="col-md-6">
      <div class="card-counter primary">
        <i class="fa fa-file" aria-hidden="true"></i>


        <span class="count-numbers">{{nombrefacture}}</span>
        <span class="count-name">Nombre des frais</span>
      </div>
    </div>
  
    
  
    
  
    <div class="col-md-6">
      <div class="card-counter info">
        <i class="fa fa-usd" aria-hidden="true"></i>
        <span class="count-numbers">{{chargetotal| currency:'':true:'1.2-2'}}k</span>
        <span class="count-name">Charge totale</span>
      </div>
    </div>
  </div>

  <popup>
        <div>
            <div style='overflow-x:scroll;overflow-y:hidden;'>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">DOCUMENT TYPE</th>
                        <th scope="col">INVOICE NUMBER</th>
                        <th scope="col">CURRENCY</th>
                        <th scope="col">BILLINGCYCLE DATE</th>
                        <th scope="col">INVOICE ICA</th>
                        <th scope="col">ACTIVITY ICA</th>
                        <th scope="col">BILLABLE ICA</th>
                        <th scope="col">COLLECTION METHOD</th>
                        <th scope="col">SERVICE CODE</th>
                        <th scope="col">SERVICE CODE DESCRIPTION</th>
                    
                        <th scope="col">EVENT ID</th>
                        <th scope="col">EVENT DESCRIPTION</th>
                        <th scope="col">AFFILIATE</th>
                        <th scope="col">UOM</th>
                        <th scope="col">QUANTITY AMOUNT</th>
                        <th scope="col">RATE</th>
                        <th scope="col">CHARGE</th>
                        <th scope="col">TAX CHARGE</th>
                        <th scope="col">TOTAL CHARGE</th>
                        <th scope="col">Acceptance</th>
                   <th scope="col">Canal</th>
                   <th scope="col">ClASSIFICATION</th>
                   <th scope="col"> ORIGINE</th>
                   <th scope="col"> TYPE RATE</th>

                       
                      </tr>
                    </thead>
                    <tbody>
                    <td>{{ factpop.DocumentType }}</td>
                    <td>{{ factpop.InvoiceNumber }}</td>
                    <td>{{ factpop.Currency }}</td>
                    <td>{{ factpop.BillingCycleDate }}</td>
                    <td>{{ factpop.InvoiceICA }}</td>
                    <td>{{ factpop.AactivityICA }}</td>
                    <td>{{ factpop.BillableICA }}</td>
                    <td>{{ factpop.CollectionMethod }}</td>
                    <td>{{ factpop.ServiceCode }}</td> 
                    <td>{{ factpop.ServiceCodeDescription }}</td> 
                   
                    <td>{{ factpop.EventID }}</td>   
                    <td>{{ factpop.EventDescription }}</td>
                    <td>{{ factpop.AFFILIATE }}</td>
                    <td>{{ factpop.UOM }}</td>
                    <td>{{ factpop.QuantityAmount }}</td>
                    <td>{{ factpop.Rate }}</td>
                    <td>{{ factpop.Charge }}</td>
                    <td>{{ factpop.TaxCharge }}</td>
                    <td>{{ factpop.TotalCharge }}</td>
                    <td>{{factpop.Acceptance}}</td>
                    <td>{{factpop.Canal}}</td>
                    <td>{{factpop.Classification}}</td>
                    <td>{{factpop.Origine}}</td>
                    <td>{{factpop.TypeRate}}</td>
    
    
                    
       
                    </tbody>
                  </table>
            </div>
       </div>
       <button type="button" (click)='fermer()' class="btn btn-secondary">Fermer</button>

      </popup>
    <div class="panel panel-primary t">
        <div class="panel-heading">Facture prévisionnelle
        <div class="pull-right">
            <button  (click)="affchfilter()"class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</button>
        </div>
      </div>
      <div class="panel-body">
          <div *ngIf="filterbol" class="filters">
              <div class="row">
  
              <div class="col-md-4"> 
   </div>
   <div class="col-md-4"> 
  </div>
  <div class="col-md-4"> 
      <button type="button" (click)='calcul()' class="btn btn-primary">Actualiser</button>
  </div>
               </div>
              <div class="row">
                  
                    <div class="col-md-4">
  <th>
      SERVICE CODE DESCRIPTION:
      <div class="ng-autocomplete">
      <ng-autocomplete 
      [data]="datacode"
      placeHolder="All"
       (event)='ah()'
      [searchKeyword]="keywordcode"
      (selected)='selectcode($event)'
      (inputChanged)='onChangeSearch($event)'
      (inputFocused)='onFocused($event)'
      [itemTemplate]="itemTemplatecode"
      [notFoundTemplate]="notFoundTemplate">                                 
    </ng-autocomplete>
     </div>
    <ng-template #itemTemplatecode let-item>
        
    <a [innerHTML]="item.ServiceCodeDescription"></a>
    </ng-template>
     
    <ng-template #notFoundTemplate let-notFound>
    <div [innerHTML]="notFound"></div>
    </ng-template>
                
              </th>
              </div>
             
              <div class="col-md-4">
              <th>	
                EVENT DESCRIPTION :
                <div class="ng-autocomplete">
                <ng-autocomplete 
                [data]="dataeventds"
                placeHolder="All"
            
                [searchKeyword]="keywordevent"
                (selected)='selectevent($event)'
                (inputChanged)='onChangeSearch($event)'
                (inputFocused)='onFocused($event)'
                [itemTemplate]="itemTemplatevent"
                [notFoundTemplate]="notFoundTemplate">                                 
              </ng-autocomplete>
              </div>
               
              <ng-template #itemTemplatevent let-item>
                  
              <a [innerHTML]="item.EventDescription"></a>
              </ng-template>
               
              <ng-template #notFoundTemplate let-notFound>
              <div [innerHTML]="notFound"></div>
              </ng-template>
  
  
  
              </th>
            </div>
            <div class="col-md-4">
              <th>
                  Mois:
                 <div class="ng-autocomplete">
                  <div class="ng-autocomplete">
                  <ng-autocomplete 
                  [data]="datamois"
                  placeHolder="All"
              
                  [searchKeyword]="keywordmois"
                  (selected)='selectdate($event)'
                  (inputChanged)='onChangeSearch($event)'
                  (inputFocused)='onFocused($event)'
                  [itemTemplate]="itemTemplatdate"
                  [notFoundTemplate]="notFoundTemplate">                                 
                </ng-autocomplete>
                </div>
                 </div>
                <ng-template #itemTemplatdate let-item>
                    
                <a [innerHTML]="item"></a>
                </ng-template>
                 
                <ng-template #notFoundTemplate let-notFound>
                <div [innerHTML]="notFound"></div>
                </ng-template>
              </th>
             
            </div>
           
            
            </div>
            <div class="row">
                <div class="col-md-3">
                    <th>
                        Année:
                        
                        <ng-autocomplete 
                        [data]="datann"
                        placeHolder="All"
                    
                        [searchKeyword]="keywordann"
                        (selected)='selectann($event)'
                        (inputChanged)='onChangeSearch($event)'
                        (inputFocused)='onFocused($event)'
                        [itemTemplate]="itemTemplatann"
                        [notFoundTemplate]="notFoundTemplate">                                 
                      </ng-autocomplete>
                       
                      <ng-template #itemTemplatann let-item>
                          
                      <a [innerHTML]="item"></a>
                      </ng-template>
                       
                      <ng-template #notFoundTemplate let-notFound>
                      <div [innerHTML]="notFound"></div>
                      </ng-template>
                    </th>
                   
                  </div>
                <div class="col-md-3"> <th>
                  Acceptance:
                  <ng-autocomplete 
                  [data]="datasclacceptance"
                  placeHolder="All"
                  [searchKeyword]="keywordacceptance"
                  (selected)='selectEventa($event)'
                  (inputChanged)='onChangeSearch($event)'
                  (inputFocused)='onFocused($event)'
                  [itemTemplate]="itemTemplatea"
                  [notFoundTemplate]="notFoundTemplate">                                 
                </ng-autocomplete>
                 
                <ng-template #itemTemplatea let-item>
                    
                <a [innerHTML]="item.Acceptance"></a>
                </ng-template>
                 
                <ng-template #notFoundTemplate let-notFound>
                <div [innerHTML]="notFound"></div>
                </ng-template>
      
            </th></div>
                <div class="col-md-3">
      
           
                  <th>
                    Canal:
                    <ng-autocomplete 
                    [data]="datascanal"
                    placeHolder="All"
      
                    [searchKeyword]="keywordcanal"
                    (selected)='selectEventca($event)'
                    (inputChanged)='onChangeSearch($event)'
                    (inputFocused)='onFocused($event)'
                    [itemTemplate]="itemTemplateca"
                    [notFoundTemplate]="notFoundTemplate">                                 
                  </ng-autocomplete>
                   
                  <ng-template #itemTemplateca let-item>
                      
                  <a [innerHTML]="item.Canal"></a>
                  </ng-template>
                   
                  <ng-template #notFoundTemplate let-notFound>
                  <div [innerHTML]="notFound"></div>
                  </ng-template>
                  
              </th>
      
                </div>
                <div class="col-md-3">
                  <th>
                  Origin
                  <ng-autocomplete 
                  [data]="dataorigin"
                  placeHolder="All"
    
                  [searchKeyword]="keywordorigin"
                  (selected)='selectEventco($event)'
                  (inputChanged)='onChangeSearch($event)'
                  (inputFocused)='onFocused($event)'
                  [itemTemplate]="itemTemplateoo"
                  [notFoundTemplate]="notFoundTemplate">                                 
                </ng-autocomplete>
                 
                <ng-template #itemTemplateoo let-item>
                    
                <a [innerHTML]="item.Origine"></a>
                </ng-template>
                 
                <ng-template #notFoundTemplate let-notFound>
                <div [innerHTML]="notFound"></div>
                </ng-template>
      
      </th>
      
                </div>
            
              </div>
            <hr class="new2">
          </div>
        <div class="scrollable">
        <table class="table table-striped">
            <thead>
            <tr>
            
              <th >SERVICE </th>
              <th scope="col">QUANTITY </th>
              <th scope="col">EVENT DESCRIPTION</th>
              <th scope="col">DATE</th>
              <th scope="col">MONTANT</th>
              <th scope="col">Acceptance</th>
              <th scope="col">CANAL</th>
              <th scope="col">ClASSIFICATION</th>
              <th scope="col"> ORIGINE</th>
              <th scope="col"> TYPE RATE</th>

            </tr>
            </thead>
            <tbody>

            <tr #myVar *ngFor="let country of(countries |servicecode:servicecode | pipedate:d |eventdescription:event|acceptance:acceptance|canal:canal|orginepipe:origine|datemois:an) " >
              <td>
               
                {{ country.ServiceCodeDescription }}&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;
              </td>
              <td>{{ country.QuantityAmount }}</td>
              <td>{{ country.EventDescription  }}</td>
              <td>{{ country.BillingCycleDate  }}</td>
              <td>{{ country.TotalCharge  }}</td>
              <td>{{country.Acceptance}}</td>
              <td>{{country.Canal}}</td>
              <td>{{country.Classification}}</td>
              <td>{{country.Origine}}</td>
              <td>{{country.TypeRate}}</td>
              <td>
                <button type="button"(click)="show(country)" class="btn btn-info">Detail

                </button>

              </td>
            </tr>
            </tbody>
          </table>
        </div>
      

    </div>
      </div>
      