
  <popup>
        <div>
            <div style='overflow-x:scroll;overflow-y:hidden;'>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">DOCUMENT TYPE</th>
                        <th scope="col">INVOICE NUMBER</th>
                        <th scope="col">CURRENCY</th>
                        <th scope="col">BILLINGCYCLE DATE</th>
                        <th scope="col">INVOICE ICA</th>
                        <th scope="col">ACTIVITY ICA</th>
                        <th scope="col">BILLABLE ICA</th>
                        <th scope="col">COLLECTION METHOD</th>
                        <th scope="col">SERVICE CODE</th>
                        <th scope="col">SERVICE CODE DESCRIPTION</th>
                    
                        <th scope="col">EVENT ID</th>
                        <th scope="col">EVENT DESCRIPTION</th>
                        <th scope="col">AFFILIATE</th>
                        <th scope="col">UOM</th>
                        <th scope="col">QUANTITY AMOUNT</th>
                        <th scope="col">RATE</th>
                        <th scope="col">CHARGE</th>
                        <th scope="col">TAX CHARGE</th>
                        <th scope="col">TOTAL CHARGE</th>
                        <th scope="col">Acceptance</th>
                   <th scope="col">Canal</th>
                   <th scope="col">ClASSIFICATION</th>
                   <th scope="col"> ORIGINE</th>
                   <th scope="col"> TYPE RATE</th>

                       
                      </tr>
                    </thead>
                    <tbody>
                    <td>{{ factpop.DocumentType }}</td>
                    <td>{{ factpop.InvoiceNumber }}</td>
                    <td>{{ factpop.Currency }}</td>
                    <td>{{ factpop.BillingCycleDate }}</td>
                    <td>{{ factpop.InvoiceICA }}</td>
                    <td>{{ factpop.AactivityICA }}</td>
                    <td>{{ factpop.BillableICA }}</td>
                    <td>{{ factpop.CollectionMethod }}</td>
                    <td>{{ factpop.ServiceCode }}</td> 
                    <td>{{ factpop.ServiceCodeDescription }}</td> 
                   
                    <td>{{ factpop.EventID }}</td>   
                    <td>{{ factpop.EventDescription }}</td>
                    <td>{{ factpop.AFFILIATE }}</td>
                    <td>{{ factpop.UOM }}</td>
                    <td>{{ factpop.QuantityAmount }}</td>
                    <td>{{ factpop.Rate }}</td>
                    <td>{{ factpop.Charge }}</td>
                    <td>{{ factpop.TaxCharge }}</td>
                    <td>{{ factpop.TotalCharge }}</td>
                    <td>{{factpop.Acceptance}}</td>
                    <td>{{factpop.Canal}}</td>
                    <td>{{factpop.Classification}}</td>
                    <td>{{factpop.Origine}}</td>
                    <td>{{factpop.TypeRate}}</td>
    
    
                    
       
                    </tbody>
                  </table>
            </div>
       </div>
       <button type="button" (click)='fermer()' class="btn btn-secondary">Fermer</button>

      </popup>
    <div class="panel panel-primary t">
        <div class="panel-heading">Facture prévisionnelle
        <div class="pull-right">
            <button  (click)="affchfilter()"class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</button>
        </div>
      </div>
        <div class="panel-body">
            <div *ngIf="filterbol" class="filters">
          
                <div class="row">
                    
                      <div class="col-md-4">
    <th>
        SERVICE CODE DESCRIPTION:
                        <select class="form-control" id="exampleSelect1" [(ngModel)]="servicecode" >
                          <option  selected  [ngValue]="undefined">All	</option>
                          <option  *ngFor="let t of servicedesc"  >              {{ t.ServiceCodeDescription }}
                          
                            </option>
                        
                        </select>
                     
                </th>
                </div>
    
                <div class="col-md-4">
                <th>	
                  EVENT DESCRIPTION :
                    <select class="form-control" id="exampleSelect1" [(ngModel)]="event">
                        <option  selected  [ngValue]="undefined">All	</option>
                        <option  *ngFor="let t of dataevent"  >              {{ t.EventDescription }}
                          
                          </option>
                      
                      </select>
    
    
    
                </th>
              </div>
              <div class="col-md-4">
                <th>
                    Date:
                    <select class="form-control" id="exampleSelect1" [(ngModel)]="d">
                        <option  selected  [ngValue]="undefined">All	</option>
                        <option  *ngFor="let t of datadate">{{t.BillingCycleDate}}	</option>
                        
                      
                      </select>
                </th>
               
              </div>
             
             
              </div>
              <div class="row">
                  <div class="col-md-4"> <th>
                    Acceptance:
                  <select class="form-control" id="exampleSelect1" [(ngModel)]="acceptance" >
                      <option   selected  [ngValue]="undefined">All &shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;			</option>
                      <option  *ngFor="let t of datacceptance"  >              {{ t.Acceptance }}
                            
                        </option>
                    
                    
                    </select>
        
              </th></div>
                  <div class="col-md-4">
        
             
                    <th>
                      Canal:
                    <select class="form-control" id="exampleSelect1" [(ngModel)]="canal"  >
                        <option   selected  [ngValue]="undefined">All	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;		</option>
                        <option  *ngFor="let t of datacanal"  >              {{ t.Canal }}
                              
                          </option>
                         
                      </select>
                    
                </th>
        
                  </div>
                  <div class="col-md-4">
                    <th>
                    Origin
                    <select class="form-control" id="exampleSelect1" [(ngModel)]="origine"  >
                        <option   selected  [ngValue]="undefined">All	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;		</option>
                        <option  *ngFor="let t of dataorigine"  >              {{ t.Origine }}
                              
                          </option>
                         
                      </select>
        
        </th>
        
                  </div>
        
                </div>
              <hr class="new2">
            </div>
            <div class="scrollable">
            <table class="table table-striped">
                <thead>
                <tr>
                  <th scope="col">DOCUMENTTYPE</th>
                  <th scope="col">SERVICE </th>
                  <th scope="col">QUANTITY </th>
                  <th scope="col">EVENT DESCRIPTION</th>
                  <th scope="col">DATE</th>
                 <th scope="col">MONTANT</th>
    
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let country of countries |servicecode:servicecode |eventdescription:event|pipedate:d|acceptance:acceptance|canal:canal|orginepipe:origine">
                  <th scope="row">{{ country.DocumentType }}</th>
                  <td>
                   
                    {{ country.ServiceCodeDescription }}
                  </td>
                  <td>{{ country.QuantityAmount }}</td>
                  <td>{{ country.EventDescription  }}</td>
                  <td>{{ country.BillingCycleDate  }}</td>
                 <td>{{country.TotalCharge}}</td>
                  <td>
                    <button type="button"(click)="show(country)" class="btn btn-info">Detail
    
                    </button>
    
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          
    
        </div>
      </div>
      