
	<div class="row">
 



        <div class="card mb">
          <img class="card-img-top h" src="../../../../assets//facture.png" alt="Card image cap">
          <div class="card-body mb">
            <h2 class="card-title">Facture</h2>
            
           <a href="http://www.effyis-partners.ma/ProjetFacturation/CodeIgniter3/upload_facturation
           "><button type="button" class="btn btn-warning">Excel</button>
           </a>
          </div>
        </div>
        
        

        <div class="card mb">
            <img class="card-img-top h" src="../../../../assets/digital-icon-png-16.jpg" alt="Card image cap">
            <div class="card-body mb">
              <h2 class="card-title">Upload</h2>
              
             <a href="http://effyis-partners.ma/ProjetFacturation/CodeIgniter3/upload_cgi_effyis"> <button type="button" class="btn btn-warning">Excel</button>
             </a>
            </div>
          </div>
</div>