
<div class="panel panel-primary t">
    <div class="panel-heading">Factures
    <div class="pull-right">
        <button  (click)="affchfilter()"class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</button>
    </div>
  </div>
    <div class="panel-body">
        <tr *ngIf="filterbol" class="filters">
            <th>
                
                    <select class="form-control" id="exampleSelect1" >
                      <option>SERVICECODEDESCRIPTION	</option>
                      <option>Account Management Systems AMS	</option>
                      <option>File Maintenance	</option>
                      <option>File Transmission - Acquirer	</option>
                    
                    </select>
                 
            </th>
            <th>	
                <select class="form-control" id="exampleSelect1">
                    <option>EVENTDESCRIPTION	</option>
                    <option>File Transmission Fee First Presentments On-Us		</option>
                    <option>Stand-In Range Blocking Residency		</option>
                    <option>File Transmission Fee Second Presentments	</option>
                  
                  </select>



            </th>
            <th>
            
                <select class="form-control" id="exampleSelect1">
                    <option>01/07/18	</option>
                    
                  
                  </select>
            </th>
           
        </tr>
        <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">DOCUMENTTYPE</th>
              <th scope="col">SERVICECODEDESCRIPTION</th>
              <th scope="col">QUANTITYAMOUNT</th>
              <th scope="col">EVENTDESCRIPTION</th>
              <th scope="col">BILLINGCYCLEDATE</th>


            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let country of countries">
              <th scope="row">{{ country.DOCUMENTTYPE }}</th>
              <td>
               
                {{ country.SERVICECODEDESCRIPTION }}
              </td>
              <td>{{ country.QUANTITYAMOUNT }}</td>
              <td>{{ country.EVENTDESCRIPTION  }}</td>
              <td>{{ country.BILLINGCYCLEDATE  }}</td>
              <td>
                <button type="button"(click)="show(country)" class="btn btn-info">Info</button>

              </td>
            </tr>
            </tbody>
          </table>
          
          <div class="d-flex justify-content-between p-2">
            <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
            </ngb-pagination>
          
          </div>

    </div>
  </div>
  <popup>
    <div>
        <div style='overflow-x:scroll;overflow-y:hidden;'>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">DOCUMENTTYPE</th>
                    <th scope="col">INVOICENUMBER</th>
                    <th scope="col">CURRENCY</th>
                    <th scope="col">BILLINGCYCLEDATE</th>
                    <th scope="col">INVOICEICA</th>
                    <th scope="col">ACTIVITYICA</th>
                    <th scope="col">BILLABLEICA</th>
                    <th scope="col">COLLECTIONMETHOD</th>
                    <th scope="col">SERVICECODE</th>
                    <th scope="col">SERVICECODEDESCRIPTION</th>
                
                    <th scope="col">EVENTID</th>
                    <th scope="col">EVENTDESCRIPTION</th>
                    <th scope="col">AFFILIATE</th>
                    <th scope="col">UOM</th>
                    <th scope="col">QUANTITYAMOUNT</th>
                    <th scope="col">RATE</th>
                    <th scope="col">CHARGE</th>
                    <th scope="col">TAXCHARGE</th>
                    <th scope="col">TOTALCHARGE</th>
          
                  </tr>
                </thead>
                <tbody>
                <td>{{ factpop.DOCUMENTTYPE }}</td>
                <td>{{ factpop.INVOICENUMBER }}</td>
                <td>{{ factpop.CURRENCY }}</td>
                <td>{{ factpop.BILLINGCYCLEDATE }}</td>
                <td>{{ factpop.INVOICEICA }}</td>
                <td>{{ factpop.ACTIVITYICA }}</td>
                <td>{{ factpop.BILLABLEICA }}</td>
                <td>{{ factpop.COLLECTIONMETHOD }}</td>
                <td>{{ factpop.SERVICECODE }}</td> 
                <td>{{ factpop.SERVICECODEDESCRIPTION }}</td> 
               
                <td>{{ factpop.EVENTID }}</td>   
                <td>{{ factpop.EVENTDESCRIPTION }}</td>
                <td>{{ factpop.AFFILIATE }}</td>
                <td>{{ factpop.UOM }}</td>
                <td>{{ factpop.QUANTITYAMOUNT }}</td>
                <td>{{ factpop.RATE }}</td>
                <td>{{ factpop.CHARGE }}</td>
                <td>{{ factpop.TAXCHARGE }}</td>
                <td>{{ factpop.TOTALCHARGE }}</td>


                
   
                </tbody>
              </table>
        </div>
   </div>
  </popup>
