
  <popup>
    <div>
        <div style='overflow-x:scroll;overflow-y:hidden;'>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">DOCUMENTTYPE</th>
                    <th scope="col">INVOICENUMBER</th>
                    <th scope="col">CURRENCY</th>
                    <th scope="col">BILLINGCYCLEDATE</th>
                    <th scope="col">INVOICEICA</th>
                    <th scope="col">ACTIVITYICA</th>
                    <th scope="col">BILLABLEICA</th>
                    <th scope="col">COLLECTIONMETHOD</th>
                    <th scope="col">SERVICECODE</th>
                    <th scope="col">SERVICECODEDESCRIPTION</th>
                
                    <th scope="col">EVENTID</th>
                    <th scope="col">EVENTDESCRIPTION</th>
                    <th scope="col">AFFILIATE</th>
                    <th scope="col">UOM</th>
                    <th scope="col">QUANTITYAMOUNT</th>
                    <th scope="col">RATE</th>
                    <th scope="col">CHARGE</th>
                    <th scope="col">TAXCHARGE</th>
                    <th scope="col">TOTALCHARGE</th>
                   <th scope="col">NetFinal</th>
                  </tr>
                </thead>
                <tbody>
                <td>{{ factpop.DocumentType }}</td>
                <td>{{ factpop.InvoiceNumber }}</td>
                <td>{{ factpop.Currency }}</td>
                <td>{{ factpop.BillingCycleDate }}</td>
                <td>{{ factpop.InvoiceICA }}</td>
                <td>{{ factpop.AactivityICA }}</td>
                <td>{{ factpop.BillableICA }}</td>
                <td>{{ factpop.CollectionMethod }}</td>
                <td>{{ factpop.ServiceCode }}</td> 
                <td>{{ factpop.ServiceCodeDescription }}</td> 
               
                <td>{{ factpop.EventID }}</td>   
                <td>{{ factpop.EventDescription }}</td>
                <td>{{ factpop.AFFILIATE }}</td>
                <td>{{ factpop.UOM }}</td>
                <td>{{ factpop.QuantityAmount }}</td>
                <td>{{ factpop.Rate }}</td>
                <td>{{ factpop.Charge }}</td>
                <td>{{ factpop.TaxCharge }}</td>
                <td>{{ factpop.TotalCharge }}</td>
                <td>{{factpop.NetFinal}}</td>


                
   
                </tbody>
              </table>
        </div>
   </div>
   <button type="button" (click)='fermer()' class="btn btn-secondary">Fermer</button>


  </popup>
<div class="panel panel-primary t">
    <div class="panel-heading">Factures
    <div class="pull-right">
        <button  (click)="affchfilter()"class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</button>
    </div>
  </div>
    <div class="panel-body">
        <div *ngIf="filterbol" class="filters">
          
                <div class="s">
                    <button  (click)="vider()"class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span>  réinitialiser</button>
                </div>
<th>
                
                    <select class="form-control" id="exampleSelect1" [(ngModel)]="servicecode" >
                      <option disabled selected hidden [ngValue]="undefined">SERVICECODEDESCRIPTION	</option>
                      <option  *ngFor="let t of servicedesc"  >              {{ t.ServiceCodeDescription }}
                      
                        </option>
                    
                    </select>
                 
            </th>
            <th>	
                <select class="form-control" id="exampleSelect1" [(ngModel)]="event">
                    <option disabled selected hidden [ngValue]="undefined">EVENTDESCRIPTION	</option>
                    <option  *ngFor="let t of dataevent"  >              {{ t.EventDescription }}
                      
                      </option>
                  
                  </select>



            </th>
            <th>
            
                <select class="form-control" id="exampleSelect1" [(ngModel)]="d">
                    <option disabled selected hidden [ngValue]="undefined">Date	</option>
                    <option  *ngFor="let t of datadate">{{t.BillingCycleDate}}	</option>
                    
                  
                  </select>
            </th>
           
          </div>
        <div class="scrollable">
        <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">DOCUMENTTYPE</th>
              <th scope="col">SERVICECODEDESCRIPTION</th>
              <th scope="col">QUANTITYAMOUNT</th>
              <th scope="col">EVENTDESCRIPTION</th>
              <th scope="col">BILLINGCYCLEDATE</th>


            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let country of countries |servicecode:servicecode |eventdescription:event|pipedate:d">
              <th scope="row">{{ country.DocumentType }}</th>
              <td>
               
                {{ country.ServiceCodeDescription }}
              </td>
              <td>{{ country.QuantityAmount }}</td>
              <td>{{ country.EventDescription  }}</td>
              <td>{{ country.BillingCycleDate  }}</td>
             
              <td>
                <button type="button"(click)="show(country)" class="btn btn-info">Detail

                </button>

              </td>
            </tr>
            </tbody>
          </table>
        </div>
      

    </div>
  </div>
  