  <div class="row">
    <div class="col-md-6">
      <div class="card-counter primary">
        <i class="fa fa-file" aria-hidden="true"></i>


        <span class="count-numbers">{{filtrageservices.nombrefacture}}</span>
        <span class="count-name">Nombre de frais</span>
      </div>
    </div>
  
    
  
    
  
    <div class="col-md-6">
      <div class="card-counter info">
        <i class="fa fa-usd" aria-hidden="true"></i>
        <span class="count-numbers">{{this.Mastermontant/1000}}k</span>
        <span class="count-name">Charge totale</span>
      </div>
    </div>
  </div>




  
<div class="panel panel-secondary t">
    <div class="panel-heading"><img height="100px" width="350px" src="../../../../assets/MasterCard_Logo.svg.png"/>
    <div class="pull-right">
        <button  (click)="affchfilter()"class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</button>
    </div>
  </div>
    <div class="panel-body">
        <div *ngIf="filterbol" class="filters">
            <div class="row">

            <div class="col-md-4"> 
 </div>
 <div class="col-md-4"> 
</div>

             </div>
            <div class="row">
                
                  <div class="col-md-3">
<th>
    SERVICE CODE DESCRIPTION:
    <div class="ng-autocomplete">
    <ng-autocomplete 
    [data]="datacode"
    placeHolder="All"
     (event)='ah()'
    [searchKeyword]="keywordcode"
    (selected)='selectcode($event)'
    (inputChanged)='onChangeSearch($event)'
    (inputFocused)='onFocused($event)'
    [itemTemplate]="itemTemplatecode"
    [notFoundTemplate]="notFoundTemplate">                                 
  </ng-autocomplete>
   </div>
  <ng-template #itemTemplatecode let-item>
      
  <a [innerHTML]="item.ServiceCodeDescription"></a>
  </ng-template>
   
  <ng-template #notFoundTemplate let-notFound>
  <div [innerHTML]="notFound"></div>
  </ng-template>
              
            </th>
            </div>
           
            <div class="col-md-3">
            <th>	
              EVENT DESCRIPTION :
              <div class="ng-autocomplete">
              <ng-autocomplete 
              [data]="dataeventds"
              placeHolder="All"
          
              [searchKeyword]="keywordevent"
              (selected)='selectevent($event)'
              (inputChanged)='onChangeSearch($event)'
              (inputFocused)='onFocused($event)'
              [itemTemplate]="itemTemplatevent"
              [notFoundTemplate]="notFoundTemplate">                                 
            </ng-autocomplete>
            </div>
             
            <ng-template #itemTemplatevent let-item>
                
            <a [innerHTML]="item.EventDescription"></a>
            </ng-template>
             
            <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
            </ng-template>



            </th>
          </div>
          <div class="col-md-3">
            <th>
                Mois:
               <div class="ng-autocomplete">
                <div class="ng-autocomplete">
                <ng-autocomplete 
                [data]="datamois"
                placeHolder="All"
            
                [searchKeyword]="keywordmois"
                (selected)='selectdate($event)'
                (inputChanged)='onChangeSearch($event)'
                (inputFocused)='onFocused($event)'
                [itemTemplate]="itemTemplatdate"
                [notFoundTemplate]="notFoundTemplate">                                 
              </ng-autocomplete>
              </div>
               </div>
              <ng-template #itemTemplatdate let-item>
                  
              <a [innerHTML]="item"></a>
              </ng-template>
               
              <ng-template #notFoundTemplate let-notFound>
              <div [innerHTML]="notFound"></div>
              </ng-template>
            </th>
           
          </div>
         
          <div class="col-md-3">
            <th>
                Année:
                
                <ng-autocomplete 
                [data]="datann"
                placeHolder="All"
            
                [searchKeyword]="keywordann"
                (selected)='selectann($event)'
                (inputChanged)='onChangeSearch($event)'
                (inputFocused)='onFocused($event)'
                [itemTemplate]="itemTemplatann"
                [notFoundTemplate]="notFoundTemplate">                                 
              </ng-autocomplete>
               
              <ng-template #itemTemplatann let-item>
                  
              <a [innerHTML]="item"></a>
              </ng-template>
               
              <ng-template #notFoundTemplate let-notFound>
              <div [innerHTML]="notFound"></div>
              </ng-template>
            </th>
           
          </div>
          </div>
          <div class="row">
              
              <div class="col-md-4"> <th>
                Acceptance:
                <ng-autocomplete 
                [data]="datasclacceptance"
                placeHolder="All"
                [searchKeyword]="keywordacceptance"
                (selected)='selectEventa($event)'
                (inputChanged)='onChangeSearch($event)'
                (inputFocused)='onFocused($event)'
                [itemTemplate]="itemTemplatea"
                [notFoundTemplate]="notFoundTemplate">                                 
              </ng-autocomplete>
               
              <ng-template #itemTemplatea let-item>
                  
              <a [innerHTML]="item.Acceptance"></a>
              </ng-template>
               
              <ng-template #notFoundTemplate let-notFound>
              <div [innerHTML]="notFound"></div>
              </ng-template>
    
          </th></div>
              <div class="col-md-4">
    
         
                <th>
                  Canal:
                  <ng-autocomplete 
                  [data]="datascanal"
                  placeHolder="All"
    
                  [searchKeyword]="keywordcanal"
                  (selected)='selectEventca($event)'
                  (inputChanged)='onChangeSearch($event)'
                  (inputFocused)='onFocused($event)'
                  [itemTemplate]="itemTemplateca"
                  [notFoundTemplate]="notFoundTemplate">                                 
                </ng-autocomplete>
                 
                <ng-template #itemTemplateca let-item>
                    
                <a [innerHTML]="item.Canal"></a>
                </ng-template>
                 
                <ng-template #notFoundTemplate let-notFound>
                <div [innerHTML]="notFound"></div>
                </ng-template>
                
            </th>
    
              </div>
              <div class="col-md-4">
                <th>
                Origin
                <ng-autocomplete 
                [data]="dataorigin"
                placeHolder="All"
  
                [searchKeyword]="keywordorigin"
                (selected)='selectEventco($event)'
                (inputChanged)='onChangeSearch($event)'
                (inputFocused)='onFocused($event)'
                [itemTemplate]="itemTemplateoo"
                [notFoundTemplate]="notFoundTemplate">                                 
              </ng-autocomplete>
               
              <ng-template #itemTemplateoo let-item>
                  
              <a [innerHTML]="item.Origine"></a>
              </ng-template>
               
              <ng-template #notFoundTemplate let-notFound>
              <div [innerHTML]="notFound"></div>
              </ng-template>
    
    </th>
    
              </div>
          
            </div>
<div class="row">
  
  
  <div class="col-md-4">
    <th>
      Processus
      <ng-autocomplete 
      class="ng-autocomplete"
      placeHolder="All"
      [data]="dataprocessus"
      [searchKeyword]="keywordProcessus"
      (selected)='selectprocessus($event)'
      (inputChanged)='onChangeSearch($event)'
      (inputFocused)='onFocused($event)'
      [itemTemplate]="itemTemplate"
      [notFoundTemplate]="notFoundTemplate">                                 
    </ng-autocomplete>
     
    <ng-template #itemTemplate let-item>
    <a [innerHTML]="item.Processus"></a>
    </ng-template>
     
    <ng-template #notFoundTemplate let-notFound>
    <div [innerHTML]="notFound"></div>
    </ng-template>

</th>

  </div>
  <div class="col-md-4">
      <th>
          Categorie
        <ng-autocomplete 
        placeHolder="All"
        [data]="datacategorie"
        [searchKeyword]="keywordcategorie"
        (selected)='categorieselect($event)'
        (inputChanged)='b($event)'
        (inputFocused)='c($event)'
        [itemTemplate]="itemTemplatee"
        [notFoundTemplate]="notFoundTemplatee">                                 
      </ng-autocomplete>
       
      <ng-template #itemTemplatee let-iteme>
      <a [innerHTML]="iteme.Categorie"></a>
      </ng-template>
       
      <ng-template #notFoundTemplatee let-notFound>
      <div [innerHTML]="notFound"></div>
      </ng-template>
  
  </th>
  
    </div>
    <div class="col-md-4">
        <th>
            Famille
          <ng-autocomplete 
          placeHolder="All"
          [data]="datafamille"
          [searchKeyword]="keywordfamille"
          (selected)='selectedfamille($event)'
          (inputChanged)='bb($event)'
          (inputFocused)='cb($event)'
          [itemTemplate]="itemTemplateee"
          [notFoundTemplate]="notFoundTemplateee">                                 
        </ng-autocomplete>
         
        <ng-template #itemTemplateee let-iteme>
        <a [innerHTML]="iteme.Famille"></a>
        </ng-template>
         
        <ng-template #notFoundTemplateee let-notFound>
        <div [innerHTML]="notFound"></div>
        </ng-template>
    
    </th>
    
      </div>
</div>



          <hr class="new2">
        </div>




        <div class="scrollable">
        <table class="table table-striped frame">
            <thead>
             
            <tr>
            
              <th >SERVICE </th>
              <th scope="col">EVENT DESCRIPTION</th>
              <th scope="col">DATE</th>
              <th scope="col">MONTANT</th>
              <th scope="col">ACCCEPTANCE</th>
              <th scope="col"> ORIGINE</th>

            </tr>
            </thead>
            <tbody>

            <tr #myVar *ngFor="let facture of(factures |servicecode:servicecode | pipedate:d |eventdescription:event|acceptance:acceptance|canal:canal|orginepipe:origine|datemois:an|Famille:familleselected|categorie:categorieselected|processusmaster:processusselected|slice:start:end) " >
              <td>
               
                {{ facture.ServiceCodeDescription }}&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;
              </td>
              <td>{{ facture.EventDescription  }}</td>
              <td>{{ facture.BillingCycleDate  }}</td>
              <td>{{ facture.TotalCharge  }}</td>
              <td>{{facture.Acceptance}}</td>
              <td>{{facture.Origine}}</td>
              <td>
                <button type="button" (click)="openModal(template,facture)" class="btn btn-warning">Detail

                </button>

              </td>
            </tr>
            </tbody>
          </table>
        </div>
      

    </div>
  </div>
 
 
 
  


 
  <div class='test'>
    <div style='float: left;'>
      <button type="button" [disabled]='prvdisabled' (click)='prv()'class="btn btn-success"> &laquo;Précedent</button>
    </div>
    <div style='float: right;'>
      <button type="button" [disabled]='nextdisabled' (click)='next()' class="btn btn-info">Next &raquo;</button>
    </div>
  </div>

  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Modal</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
     
      <div>
        <div style='overflow-x:scroll;overflow-y:hidden;'>
            <table class="table">
                <thead>
                  <tr>
                    <th >DOCUMENT TYPE</th>
                    <th >INVOICE NUMBER</th>
                    <th >CURRENCY</th>
                    <th > DATE</th>
                    <th >INVOICEICA</th>
                    <th >ACTIVITY ICA</th>
                    <th >BILLABLE ICA</th>
                    <th >COLLECTIONME </th>
                    <th >SERVICE  CODE</th>
                    <th >SERVICE DESCRIPTION</th>
                
                    <th >EVENT ID</th>
                    <th >EVENT DESCRIPTION</th>
                    <th >UOM</th>
                    <th >QUANTITY AMOUNT</th>
                    <th>RATE</th>
                    <th >CHARGE</th>
                    <th>TAXCHARGE</th>
                    <th >TOTAL CHARGE</th>
                   <th>Acceptance</th>
                   <th>Canal</th>
                   <th>ClASSIFICATION</th>
                   <th> ORIGINE</th>
                   <th> TYPE RATE</th>

                  </tr>
                </thead>
                <tbody>
                <td>{{ factpop?.DocumentType }}</td>
                <td>{{ factpop?.InvoiceNumber }}</td>
                <td>{{ factpop?.Currency }}</td>
                <td>{{ factpop?.BillingCycleDate }}</td>
                <td>{{ factpop?.InvoiceICA }}</td>
                <td>{{ factpop?.AactivityICA }}</td>
                <td>{{ factpop?.BillableICA }}</td>
                <td>{{ factpop?.CollectionMethod }}</td>
                <td>{{ factpop?.ServiceCode }}</td> 
                <td>{{ factpop?.ServiceCodeDescription }}</td> 
               
                <td>{{ factpop?.EventID }}</td>   
                <td>{{ factpop?.EventDescription }}</td>
                <td>{{ factpop?.UOM }}</td>
                <td>{{ factpop?.QuantityAmount }}</td>
                <td>{{ factpop?.Rate }}</td>
                <td>{{ factpop?.Charge }}</td>
                <td>{{ factpop?.TaxCharge }}</td>
                <td>{{ factpop?.TotalCharge }}0000</td>
                
                <td>{{factpop?.Acceptance}}</td>
                <td>{{factpop?.Canal}}</td>
                <td>{{factpop?.Classification}}</td>
                <td>{{factpop?.Origine}}</td>
                <td>{{factpop?.TypeRate}}</td>


                
   
                </tbody>
              </table>
        </div>
   </div>



    </div>
  </ng-template>