<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<body>
    <div class="container-fluid over">
        <div class="row">
            <div class="col-md-2 col-sm-4 sidebar1">
                <div class="logo">
                    <img src="../../../assets/CIH.jpg" class="img-responsive center-block" alt="Logo">
                </div>
                <br> 
                <div class="left-navigation op  scrollable scrollable-element">
                    <ul class="list">
                        <h5><strong>

                            </strong></h5>
                      
                       
                   
                            <li   routerLink="Acceuil" >Acceuil</li>
                                <li   (click)="aks()">MasterCard <span class="glyphicon glyphicon-chevron-down size"></span></li>



                                <div *ngIf='ab' class="r">
                                        <li routerLink="comparaisonprv"> Vision globale</li><br/>

                                                <li (click)="arr()">
                                                                Référentiel <span class="glyphicon glyphicon-chevron-down size"></span></li><br/>
                                                                <div *ngIf='an' class="r">
                                                                                <li routerLink="Services"> 
                                                                                                Service </li><br/>
                                                                                        <li routerLink="event"> 
                                                                                                Evenement </li><br/>
                                                                                                </div>
                                       
                                             
                        <li routerLink="factures">
                                Facture reçue</li><br/>
                                <li routerLink="flux">
                                                Flux</li><br/>
                        <li routerLink="facutreprevison">
                                Simulation de facture</li><br/>
                        <li  (click)="ass()"> 
                                Tableau de bord <span class="glyphicon glyphicon-chevron-down size"></span> </li><br/>
                                <div *ngIf='at' class="r">
                                        <li routerLink="Domaine"> 
                                                        Domaine </li><br/>
                                                <li routerLink="Evolution"> 
                                                        Evolution </li><br/>
                                                        <li routerLink="Ventilation"> Ventilation</li><br/>
                                                        <li routerLink="comparaison"> Historique</li><br/>
                                                        <li routerLink="rapprochement"> Rapprochement</li><br/>

                                    </div>
                        <li (click)="add()"> 
                                Vision Simulée<span class="glyphicon glyphicon-chevron-down size"></span></li><br/>
                                <div *ngIf='ak' class="r">
                                                <li routerLink="DomainePrevisionnel" > 
                                                                Domaine </li><br/>
                                                        <li routerLink="EvolutionPrevisionnel"> 
                                                                Evolution </li><br/>
                                                                <li routerLink="VentilationPrevisionnel"> Ventilation</li><br/>
                                                                <li routerLink="comparaisonprv"> Historique</li><br/>

                                                                <li routerLink="rapprochement"> Rapprochement</li><br/>

                                                                
                                            </div>
                        <li routerLink="upload">
                                Chargement</li>
     
                                </div>
                                <li   (click)="visa()">Visa <span class="glyphicon glyphicon-chevron-down size"></span></li>



                                <div *ngIf='vs' class="r">
                                        <li routerLink="comparaisonprvVisa"> Vision globale</li><br/>

                                                <li (click)="refvisa()"> 
                                                                Référentiel <span class="glyphicon glyphicon-chevron-down size"></span></li><br/>
                                                                <div *ngIf='wo' class="r">
                                                                                <li  (click)="typevisa()" > 
                                                                                        Type de charges <span class="glyphicon glyphicon-chevron-down size"></span></li><br/> 
                                                                                        <div *ngIf='wa' class="r">
                                                                                                <li routerLink="vuegenerale"> 
                                                                                                        Vue generale   </li><br/>
                                                                                                        <li routerLink="typebase"> 
                                                                                                                Type base II </li><br/>
                                                                                        </div>
                                                                                        <li routerLink="litiges"> 
                                                                                                Litiges  </li><br/>
                                                                                                <li routerLink="TypesdeTransactions"> 
                                                                                                        Types de Transactions  </li><br/>
                                                                                                </div>
                                       
                                             
                        <li routerLink="visa"> 
                                Facture reçue</li><br/>
                        <li routerLink="facutreprevison">
                                Simulation de facture</li><br/>
                        <li  (click)="ass()"> 
                                Tableau de bord <span class="glyphicon glyphicon-chevron-down size"></span> </li><br/>
                                <div *ngIf='at' class="r">
                                        <li routerLink="domainevisa"> 
                                                        Domaine </li><br/>
                                                <li routerLink="Surfacevisa"> 
                                                        Evolution </li><br/>
                                                        <li routerLink="Ventilationvisa"> Ventilation</li><br/>
                                                        <li routerLink="comparaisonvisa"> Historique</li><br/>
                                                        <li routerLink="rapprochementvisa"> Rapprochement</li><br/>

                                    </div>
                        <li (click)="add()"> 
                                Vision Simulée<span class="glyphicon glyphicon-chevron-down size"></span></li><br/>
                                <div *ngIf='ak' class="r">
                                                <li routerLink="DomainePrevisionnel" > 
                                                                Domaine </li><br/>
                                                        <li routerLink="EvolutionPrevisionnel"> 
                                                                Evolution </li><br/>
                                                                <li routerLink="Ventilation"> Ventilation</li><br/>
                                                                <li routerLink="rapprochement"> Rapprochement</li><br/>

                                                                
                                            </div>
                                            <li routerLink="fluxvisa">
                                                Flux</li>
                        <li routerLink="uploadvisa">
                                Chargement</li>
     
                                </div>
                             
                       
                       
                                <li routerLink="/login" >HPPS</li>
                                <li routerLink="adminboard" >Administrateur</li>

                        <li routerLink="/login" >Deconnexion</li>
                      
                    </ul>

                    <br>

                 
                </div>
            </div>

            
            <div class="col-md-10 float col-sm-8  ka main-content">
            <!--Main content code to be written here --> 
            <router-outlet></router-outlet>       
            
        </div>
    </div>
    </div>
</body>