<div class="panel panel-primary t">
    <div class="panel-heading">Evenement
      
    <div class="pull-right">
        <button  (click)="affchfilter()"class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</button>
    </div>
  </div>
    <div class="panel-body">
        <div *ngIf="filterbol" class="filters">
            <div class="s">
        
                <button  (click)="vider()"class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> réinitialiser</button>
            </div>

            <th>
  
               
                
                    Nom Event :
                    <select class="form-control" id="exampleSelect1" [(ngModel)]="nomevent" >
                        <option   selected  [ngValue]="undefined">All			</option>
  
                      <option  *ngFor="let t of namedata"  >              {{ t.NomEvent }}
                        
                      </option>
                      
                      
                      
                    
                    </select>
                 
            
            </th>
            <th>
                <th>
  
  
                
                    Num Event :
                    <select class="form-control" id="exampleSelect1"  [(ngModel)]="num" >
                     
                        <option   selected  [ngValue]="undefined"> All &shy;&shy;&shy;&shy;&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;			</option>
  
                        <option  *ngFor="let t of eventdata"  >              {{ t.NumEvent }}
                          
                        </option>
                      
                    
                    </select>
  
  
            </th>
            <th>
                Id:
                <select class="form-control" id="exampleSelect1" [(ngModel)]="k"  >
                        <option   selected  [ngValue]="undefined"> All&shy;&shy;&shy;&shy;&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;	&shy;			</option>
                        
                    <option  *ngFor="let t of ID"  >              {{ t.IDService }}
                          
                      </option>
                  
                  </select>
  
            </th>
          
          </div>
        <div class="scrollable">
        <table class="table table-striped">
            <thead>
            <tr>
             
             
              <th scope="col">   ID Service	    </th>
             
              <th scope="col">Num Event</th>
              <th scope="col">Nom Event	</th>
              
             
              <th scope="col">    RateNet      </th>
            </tr>
            </thead>
            <tbody >
            <tr *ngFor="let country of countries|eventname:nomevent|eventnum:num|id:k">
            
              <td>
                  {{ country.IDService }}
              </td>
              <td>

                  {{ country.NumEvent }}           
              <td>

                  {{ country.NomEvent }}             
              <td>

                  {{ country.RateNet }}
              </td>
             
            </tr>
            </tbody>
          </table>
        </div>
          
    </div>
  </div>
  