<div class="panel panel-warning t">
  <div class="panel-heading"><img height="100px" width="350px" src="../../../../assets/MasterCard_Logo.svg.png"/>
    <div class="pull-right">
        <button  (click)="affchfilter()"class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</button>
    </div>
  </div>
    <div class="panel-body">
        <div *ngIf="filterbol" class="filters">
            
            <div class="row">
                <div class="col-md-3">
                    <th>
  
               
                
                        Nom Event :
                        <ng-autocomplete 
                        [data]="dataeventt"
                        placeHolder="All"
                        [searchKeyword]="keywordnom"
                        (selected)='selectEvent($event)'
                        (inputChanged)='onChangeSearch($event)'
                        (inputFocused)='onFocused($event)'
                        [itemTemplate]="data"
                        [notFoundTemplate]="notFoundTemplatez">                                 
                      </ng-autocomplete>
                       
                      <ng-template #data let-item>
                          
                      <a [innerHTML]="item.NomEvent"></a>
                      </ng-template>
                       
                      <ng-template #notFoundTemplatez let-notFound>
                      <div [innerHTML]="notFound"></div>
                      </ng-template>
                
                </th>
                </div>
              
               
           
                <div class="col-md-3">
                  <th>
                    Num Event :
                    <ng-autocomplete 
                    [data]="datanum"
                    placeHolder="All"
                    [searchKeyword]="keywordnum"
                    (selected)='selectEventnum($event)'
                    (inputChanged)='onChangeSearch($event)'
                    (inputFocused)='onFocused($event)'
                    [itemTemplate]="itemTemplatenum"
                    [notFoundTemplate]="notFoundTemplate">                                 
                  </ng-autocomplete>
                   
                  <ng-template #itemTemplatenum let-item>
                      
                  <a [innerHTML]="item.NumEvent"></a>
                  </ng-template>
                   
                  <ng-template #notFoundTemplate let-notFound>
                  <div [innerHTML]="notFound"></div>
                  </ng-template>
  
  
            </th>
                  </div>
         
            
                  <div class="col-md-3">
                      <th>
                          ID:
                          <ng-autocomplete 
                          [data]="dataid"
                          placeHolder="All"
                          [searchKeyword]="keywordId"
                          (selected)='selectEventId($event)'
                          (inputChanged)='onChangeSearch($event)'
                          (inputFocused)='onFocused($event)'
                          [itemTemplate]="itemTemplateId"
                          [notFoundTemplate]="notFoundTemplate">                                 
                        </ng-autocomplete>
                         
                        <ng-template #itemTemplateId let-item>
                            
                        <a [innerHTML]="item.IDService"></a>
                        </ng-template>
                         
                        <ng-template #notFoundTemplate let-notFound>
                        <div [innerHTML]="notFound"></div>
                        </ng-template>
            
                      </th>
                    </div>
                  
                </div>
              
                <div class="row">
  
  
                  <div class="col-md-4">
                    <th>
                      Processus
                      <ng-autocomplete 
                      placeHolder="All"
                      [data]="dataprocessus"
                      [searchKeyword]="keywordProcessus"
                      (selected)='selectprocessus($event)'
                      (inputChanged)='onChangeSearch($event)'
                      (inputFocused)='onFocused($event)'
                      [itemTemplate]="itemTemplate"
                      [notFoundTemplate]="notFoundTemplate">                                 
                    </ng-autocomplete>
                     
                    <ng-template #itemTemplate let-item>
                    <a [innerHTML]="item.Processus"></a>
                    </ng-template>
                     
                    <ng-template #notFoundTemplate let-notFound>
                    <div [innerHTML]="notFound"></div>
                    </ng-template>
                
                </th>
                
                  </div>
                  <div class="col-md-4">
                      <th>
                          Categorie
                        <ng-autocomplete 
                        placeHolder="All"
                        [data]="datacategorie"
                        [searchKeyword]="keywordcategorie"
                        (selected)='categorieselect($event)'
                        (inputChanged)='b($event)'
                        (inputFocused)='c($event)'
                        [itemTemplate]="itemTemplatee"
                        [notFoundTemplate]="notFoundTemplatee">                                 
                      </ng-autocomplete>
                       
                      <ng-template #itemTemplatee let-iteme>
                      <a [innerHTML]="iteme.Categorie"></a>
                      </ng-template>
                       
                      <ng-template #notFoundTemplatee let-notFound>
                      <div [innerHTML]="notFound"></div>
                      </ng-template>
                  
                  </th>
                  
                    </div>
                    <div class="col-md-4">
                        <th>
                            Famille
                          <ng-autocomplete 
                          placeHolder="All"
                          [data]="datafamille"
                          [searchKeyword]="keywordfamille"
                          (selected)='selectedfamille($event)'
                          (inputChanged)='bb($event)'
                          (inputFocused)='cb($event)'
                          [itemTemplate]="itemTemplateee"
                          [notFoundTemplate]="notFoundTemplateee">                                 
                        </ng-autocomplete>
                         
                        <ng-template #itemTemplateee let-iteme>
                        <a [innerHTML]="iteme.Famille"></a>
                        </ng-template>
                         
                        <ng-template #notFoundTemplateee let-notFound>
                        <div [innerHTML]="notFound"></div>
                        </ng-template>
                    
                    </th>
                    
                      </div>
                </div>
                <hr class="new2">
         
              </div>
         
        <div class="scrollable">
        <table class="table table-striped">
            <thead>
            <tr>
             
             
              <th scope="col">   ID   	    </th>
             
              <th scope="col">Num Event</th>
              <th scope="col">Nom Event	</th>
              
             
              <th scope="col">    RateNet      </th>
            </tr>
            </thead>
            <tbody >
            <tr *ngFor="let country of countries|eventname:nomevent|eventnum:num|id:k|eventfamille:familleselected|eventcategorie:categorieselected|eventprocessus:processusselected">
            
              <td>
                  {{ country.IDService }}
              </td>
              <td>

                  {{ country.NumEvent }}           
              <td>

                  {{ country.NomEvent }}             
              <td>

                  {{ country.RateNet }}
              </td>
             
            </tr>
            <div *ngIf="(countries|eventname:nomevent|eventnum:num|id:k|eventfamille:familleselected|eventcategorie:categorieselected|eventprocessus:processusselected).length === 0">
              Aucun résultat trouvé
           </div>
            </tbody>
          </table>
        </div>
          
    </div>
  </div>
  